/* -------------------FONTS-*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/* -------------------GENERAL-*/

body{
    color:#536872;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
hr{
    margin: 0;
}

header {
    margin: 0;
}
h5{
    margin: 0;
}
p{
    margin: 0;
}
/* -------------------HEADER-*/



.header{
    background-color: #ffffff;
    margin:0;
    padding: 0;
    width:33%;
    height: 60px;
}
.logo {
    margin-left: 50px;
    height: 60px;  
    border-radius: 5px;
}

.languages{
    padding: 0;
    margin:13px;
    text-align: right;
    margin-right: 100px;
}

.language-item {
    width: 32px;
    height: 32px;
    padding: 7px;
    margin: 1px;
    border-radius: 50%;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #536872;
    background-color: #abbad2;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.language-item:hover {
    background: #536872;
    color: #ffffff;
}


/* -------------------HOME-CONTENT-*/

.heading {
    font-family: "Exo",sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    color: #536872;
    padding: 0px;
    margin-top: 5px;
    margin-left: 150px;
}

.left-section {
    display: inline-block;
    height: 400px;
    width: 30%;
    border-radius: 10px;
    margin-left: 150px;
    background: url(/assets/imgs/hero-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right-section{
    display: inline-block;
    height: 400px;
    width: 40%;
    margin: 50px;
}
.row .rightsection-component {
    margin: 0;
    height: 300px;
}
.rsection-component {
    height: 150px;
    margin: 0;
}

/* -------------------FOOTER-*/

footer {
    color: #fafafa;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin: 0;
}

.registration{
    text-align:left;
    width:50%;
    padding-left: 100px;
    color:#536872;
    font-size: 15px
}
.social-media{
    text-align:right;
    width: 50%;
    padding-right: 100px;
    margin-top: 10px;
    color:#536872
}