/* -------------------FONTS-*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



/* -------------------GENERAL SETTINGS--------------------------------------*/
body{
    height: 100%;
}
/*------to keep the footer at the bottom-*/

html, body {
    width: 100%;
    height: 100%;
}
article {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}

header{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

h2{
    font-family: "Exo", sans-serif;
    font-weight: 300;
}

h6{
    text-align: left;
    margin-top: 10px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.5;

}

a {
    color:inherit;
    text-decoration: none;
}

.decoration-none{
    text-decoration:none;
}

hr{
    margin: 0;
    padding: 0;
}

.text-red{
    color: #e96541;
    letter-spacing: 2px;
    font-family: "Exo", sans-serif;
    font-weight: 300;
}
/* -------------------MEDIAQUeRIES RESPONSIVENESS SECTION---------------------------*/

.btn-group{
    margin-top: -30px;
    display: flex;
    margin-right: 10px;
    margin-left: 40px;
}
#mobile{
    padding-left: 10px;
}
.btn1{
    display: inline-block;
    font-weight: 400;
    height: 60px;
    width:60px;
    padding: 6px, 8px,6px,8px;
    color: #fff;
    text-align: center;
    background-color: #e96541;
    border: 1px solid #e96541;
    border-radius: 50%;
    line-height: 1.5;
}

.btn-secondary {
    background-color: #e96541;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 16px;
}
.btn-secondary:focus .btn-secondary:active{
    border-color: none;
    background-color: #e96541;
    box-shadow: none;
    outline: none;
}

.btn-secondary:hover {
    background-color: #e96541;
    border-radius: 100px;
    border-color: #e96541;
    box-shadow: none;
    outline: none;
}

.dropdown-menu{
    min-width:350px;
    min-height:100%;
    
}

.dropdown-item{
    text-align: center;
    margin: 0;
    padding: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    color: #183f45;
}

@media(max-width:800px){
    #desktop {display: none;}
    #mobile {display: block;}
    h1.title {margin-top:-15px;text-align: center;}
    .address-title {border-top:1px s olid #e5ebf5;}
}

@media(min-width:801px){
    #desktop{display: block;}
    #mobile{display: none;}
}

/* -------------------FlexBOX-HEADER----------------------------------------------*/
.flex-header{
    display: flex;
    align-items:flex-end;
}

.flexheader-logo{
    flex:1;
    text-align: left;
}

.flexheader-language{
    flex:2;
}

.flexheader-nav{
    flex:3;
    text-align: right;
}

.flexheader-button{    
    flex:2;
    text-align: center;
}
/* -------------------HEADER-----------------------------------------------*/

.logo{
    padding: 5px;
    height: 70px;  
    margin-left: 10%;
    border-radius: 20%;
    text-align: right;
}

.languages{
    margin-left:10px;
    text-align:left;
    padding-left: 0;
    margin-bottom: 8px;
}

.language-item {
    width: 32px;
    height: 32px;
    padding: 5px 5px 5px 5px;
    margin: 1px;
    border-radius: 50%;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    color: #4e676e;
    background-color: #e5ebf5;
    border: solid .5px #4e676e;
    transition: all 0.35s ease-in-out;
}

.language-item-active{
    width: 32px;
    height: 32px;
    padding: 5px 5px 5px 5px;
    margin: 1px;
    border-radius: 50%;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    color: #e5ebf5;
    background-color:#e96541;
    border: solid .5px #e96541  ;
    transition: all 0.35s ease-in-out;
} 

/*--

.language-item:hover {
    background: #183f45;
    color: #ffffff;
}
--*/

.active {
  border-bottom: 1px solid;
  color: #e96541;
  border-color: #e96541;

}

.inactive {
  color: #183f45;
}

.btn-primary{
    background-color: #e96541;
    border-color: #e96541;
    font-family: "Exo", sans-serif;
    text-transform: capitalize;
    margin-bottom: 10px;
}

nav {
    text-align: center;
}

.nav li {
    padding: 10px;
    margin-bottom: 0;
    margin-right:10px;
}

li.list-inline-item{
    padding-bottom: 0;
    margin-top: 10px;
}

a h6{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    color: #183f45;
    text-align: right;
}

a h6:hover{
    font-weight: 500;
    color: #183f45;
}

/* -------------------HOME-SECTION-----------------------------------------*/
.white-section{
    margin: 10px;
    margin-top:0;
    padding: 10px;
    padding-bottom:0px;
    padding-top: 0;
}

.title{
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    color: #183f45;
    margin-top: 10px;
    margin-left:20px;
    border-bottom: solid 1px #d9dedf;
}

.hero-image{
    min-height: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.rsection-description{
    font-family: "Exo",sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight:200;
    color: #183f45;
    margin-top: 15px;
}

.card.success-factors-item{
    margin: auto;
    width: 90%;
    height: 250px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border:#fafafa 1px solid;
    border-radius: 20px;
    background-color: #f6f9fb;
    vertical-align:middle;
}

#rsection-aspects {
    text-align: center;
    font-family:"Lato", sans-serif;
    font-weight:400;
    margin-top:20px;
    margin-bottom:20px;
    color: #e96541;
}

#arrow-down{
    vertical-align: top;
}
svg.bi.bi-arrow-bar-down {
    color: #183f45;
    width: 1.2em;
    height: 1.2em;
}

.greybackground-section{
    background-color:#f6f9fb;
    max-width: 100%;  
    padding: 16px;
}

.service-component-title {
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #e96541;
    margin: 10px;
}

.service-component-item{
    line-height: 1.5;
    border-radius: 10px;
    height: 200px;
    max-width: 280px;
    text-align: center;
    vertical-align: middle;
    background-color: #fafafa;
    border-color: #fafafa
}


.component-icon{
    font-size: 24px;
    color: #183f45;
}


/* -------------------CREDENTIALS/PRODUCST/FAQ-PAGEs COLLAPSE ELEMENT--------------*/

h6 p{
    color: #183f45;
}

.card {
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom:0px;

}
.card-header {
    padding: 0;
}

#credentials-item{
    text-align: center;
}
.credentials-image{
    max-height: 400px;
    border: 1px solid;
    border-color: #4e676e;
}
button span i {
    color: #4e676e
}

.case-image{
    padding: 5px;
    width: 80%;
    border: 1px solid;
    border-color: #4e676e;
}

h6.case-subtitle {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size:12px; 
    color: #e96541;
}

/* -------------------CONTACT PAGE----------------------------------------------*/

.address-title{
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    font-family: "Lato",sans-serif;
    font-weight: 500;
    width:100%;
    color: #e96541;
}

.address-address{
    text-align: center;
    padding-bottom:10px;
    margin-bottom:0;
}

.iframe{
    min-width:100%; 
    margin: auto;
    text-align: center;
}

form{
    max-width: 80%;
    margin:auto;
}

.center-form {
    margin-top: 10px;
    margin: auto;
    font-family: "Lato",sans-serif;
    font-weight: 700;
    text-align: center;
    min-width: 80%;
}

.form-title{
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    font-family: "Lato",sans-serif;
    font-weight: 500;
    width:100%;
    margin-bottom: 36px;
    color: #e96541;
}

.form-invite{
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    width:100%;
    color: #183f45;
}


.form-control{
    margin-bottom: 10px;
}

/* -------------------FLEX-FOOTER--------------------------------*/

.flex-footer{
    display:flex;
    align-items:center;
    background-color:#4e676e;
    color:#e5ebf5;
}

.flexfooter-box1{
    flex:2;
}

.flexfooter-box2{
    flex:3;
}

.flexfooter-box3{
    flex:2;
}

.flexfooter-button{
    flex:2;
    order: 2;
    text-align: center;
    margin-top: 0;
}
/* -------------------FOOTER---------------------------------------*/
footer{
    padding: 5px;
    background-color:#ffffff;
    width: 100%;
    height: 70px;
    border-top: 1px solid;
    border-color:rgba(0,0,0,.1);
}

.footer-content{
    padding: 0px;
}

.social-media-box {
    text-align: center;
    margin-top: 0;
}

.footer-item1{
    text-align: right;
    font-family: "Lato",sans-serif;
    font-weight: 700;
}

.footer-item2{
    text-align: left;
    font-family: "Lato",sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.registration-detail{
    margin: 0;
}

.icon-item {
    width: 32px;
    height: 32px;
    padding: 5px 5px 5px 5px;
    margin: 1px;
    border-radius: 50%;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    color: #183f45;
    background-color: #e5ebf5;
    border: solid .5px #4e676e;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.icon-item:hover {
    background: #183f45;
    color: #ffffff;
}